/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

// 3 Header
// ------------------------------------------------------------------------ //
header {
    background-color: $red;
    color: #fff;
    padding-top: $space;
    margin-bottom:$space;
}

.logo {
    float: left;
    padding-left: 20px;
}

.nav-list {
    float: right;
    list-style: none;
    padding-top: $space / 8;
}

.nav-list {
    li {
        display: inline-block;
        padding-left: 20px;
    }
    a {
        color: #fff;
        
        &:hover {
            color: $black;
        }
    }
}
// 4 Page styles
// ------------------------------------------------------------------------ //
main {
    margin-bottom: $space * 3;
}

.border {
    border: 2px solid $grey;
}

.linklist {
    li {
        border-bottom: 1px solid $grey;
    }
    a {
        display: block;
        padding: ($space / 4) ($space / 2);

        &:hover {
            background: $grey;
        }
    }
}

.col1 {
    float: left;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;

    @media screen and (min-width:40em){
        width: 25%;
    }     
}

.col2 {
    float: left;
    width: 100%;
    padding-left: $space;

    @media screen and (min-width:40em){
        width: 75%;
    }     
}

.highlight {
    border :2px solid $grey;
    margin-left: -10px;
}

.col3 {
    float: left;
    width: 100%;
    padding-left: 10px;

    @media screen and (min-width:48em){
        width: 33.3%;
    }     
}

.highlight:after {
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top:   40px solid $grey; 
    border-right: 40px solid transparent;
    border-left:  40px solid transparent;
    margin: 0 auto;
    content: '';
}

.btn--position {
    position: relative;
    display: block;
    margin: 40px auto 0;
}

.btn--color {
    border: 1px solid #4550F5;
    color: #fff;
    background: #7881FA;

    &:hover {
        background: #2C4AD1; 
    }
}

// 5 Footer
// ------------------------------------------------------------------------ //

footer {
    padding: 15px 0;
    margin: $space auto 0;
    color: #fff;
    background: $red;
}